/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.red{
    color: red;
}

.article{
    width:50%; text-align: center;
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items: center
}

.veep_section {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}

.veep_section > label {
    background: #dddddd;
    color: black;
    padding : 5px;
}

.veep_actions {
    margin: 10px;
    padding : 5px;
}

.veep_actions .button-primary {
    margin: 5px;
}


.tabs_questions {
}

.tabs_questions li {
    padding: 5px;
    display: inline;
}

.tabs_questions li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tabs_questions li.displayed {
    background: black;
    color: white;
    text-decoration: underline;
}

/*
.tabs_questions li:not(:last-child):after {
    content: ' | ';
}
*/